In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression


sns.set_style("whitegrid")
plt.style.use("fivethirtyeight")

In [18]:
XXX = pd.read_csv("tmp_hms_sav_ass.csv", sep=';')
XXX

,id,idResource,idProject,refType,refId,rate,assignedWork,realWork,leftWork,plannedWork,...,plannedEndDate,idRole,dailyCost,newDailyCost,assignedCost,realCost,leftCost,plannedCost,billedWork,notPlannedWork
0,1,5,1,Activity,1,100,NaN,21.00,0.0,21.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
1,4,15,4,Activity,4,100,NaN,131.00,0.0,131.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
2,6,15,4,Activity,6,100,NaN,21.00,0.0,21.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
3,8,15,4,Activity,9,100,NaN,4.00,0.0,4.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
4,9,15,4,Activity,10,100,NaN,2.00,0.0,2.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7196,7601,9,34,Activity,594,100,NaN,0.00,0.0,0.00,...,NaN,4.0,873.0,873.0,0.0,0.00,0.0,0.00,0.0,0.0
7197,7602,32,34,Activity,594,100,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
7198,7603,9,34,Activity,597,100,NaN,0.25,0.0,0.25,...,NaN,4.0,873.0,873.0,0.0,218.25,0.0,218.25,0.0,0.0
7199,7604,7,12,Activity,1524,100,NaN,0.50,0.0,0.50,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
7200,7605,7,50,Activity,1525,100,NaN,2.50,0.0,2.50,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0

In [19]:
dataset = XXX.replace(np.nan,0)
dataset = XXX.replace(np.nan,0)
dataset = dataset.drop(dataset[dataset.realCost == 0].index)

dataset['realWork'] =  dataset['realWork'].astype(int)
dataset['realCost'] =  dataset['realCost'].astype(int)



dataset

,id,idResource,idProject,refType,refId,rate,assignedWork,realWork,leftWork,plannedWork,...,plannedEndDate,idRole,dailyCost,newDailyCost,assignedCost,realCost,leftCost,plannedCost,billedWork,notPlannedWork
1408,1735,9,14,Activity,426,100,0.00,0,0.00,0.25,...,0.0,4.0,0.0,873.0,0.00,218,0.00,218.25,0.0,0.0
1496,1833,12,34,Activity,489,20,83.00,15,67.25,83.00,...,0.0,8.0,873.0,0.0,72459.00,436,0.00,436.50,0.0,0.0
1799,2139,9,34,Activity,491,20,13.00,11,1.75,13.00,...,0.0,4.0,873.0,873.0,11349.00,9821,1527.75,11349.00,0.0,0.0
1800,2140,9,34,Activity,494,20,2.50,3,0.00,3.25,...,0.0,4.0,873.0,873.0,2182.50,2837,0.00,2837.25,0.0,0.0
1801,2141,9,34,Activity,495,20,1.00,1,1.50,2.50,...,0.0,4.0,873.0,873.0,873.00,873,1309.50,2182.50,0.0,0.0
1802,2142,9,34,Activity,496,20,1.00,0,0.50,1.00,...,0.0,4.0,873.0,873.0,873.00,436,436.50,873.00,0.0,0.0
1803,2143,9,34,Activity,498,20,1.00,1,0.00,1.00,...,0.0,4.0,873.0,873.0,873.00,873,0.00,873.00,0.0,0.0
1805,2145,9,34,Activity,500,20,1.00,0,0.50,1.00,...,0.0,4.0,873.0,873.0,873.00,436,436.50,873.00,0.0,0.0
1806,2146,9,34,Activity,501,20,1.00,1,0.00,1.00,...,0.0,4.0,873.0,873.0,873.00,873,0.00,873.00,0.0,0.0
1807,2147,9,34,Activity,504,20,0.50,0,0.25,0.50,...,0.0,4.0,873.0,873.0,436.50,218,218.25,436.50,0.0,0.0
1808,2148,9,34,Activity,505,20,0.50,0,0.25,0.50,...,0.0,4.0,873.0,873.0,436.50,218,218.25,436.50,0.0,0.0
1809,2149,9,34,Activity,508,20,0.50,0,0.25,0.50,...,0.0,4.0,873.0,873.0,436.50,218,218.25,436.50,0.0,0.0
1810,2150,9,34,Activity,509,20,0.50,0,0.25,0.50,...,0.0,4.0,873.0,873.0,436.50,218,218.25,436.50,0.0,0.0
1811,2151,9,34,Activity,511,20,4.00,3,4.00,7.25,...,0.0,4.0,873.0,873.0,3492.00,2837,3492.00,6329.25,0.0,0.0
1812,2152,9,34,Activity,512,20,4.00,0,3.25,4.00,...,0.0,4.0,873.0,873.0,3492.00,654,2837.25,3492.00,0.0,0.0
1813,2153,9,34,Activity,513,20,2.00,2,0.00,2.00,...,0.0,4.0,873.0,873.0,1746.00,1746,0.00,1746.00,0.0,0.0
1814,2154,9,34,Activity,514,20,1.50,2,0.00,2.00,...,0.0,4.0,873.0,873.0,1309.50,1746,0.00,1746.00,0.0,0.0
1815,2155,9,34,Activity,515,20,0.50,1,0.00,1.00,...,0.0,4.0,873.0,873.0,436.50,873,0.00,873.00,0.0,0.0
1816,2156,9,34,Activity,516,20,1.00,1,0.00,1.25,...,0.0,4.0,873.0,873.0,873.00,1091,0.00,1091.25,0.0,0.0
1818,2158,9,34,Activity,519,20,0.50,0,0.00,0.50,...,0.0,4.0,873.0,873.0,436.50,436,0.00,436.50,0.0,0.0
1820,2160,9,34,Activity,521,20,0.50,0,0.00,0.50,...,0.0,4.0,873.0,873.0,436.50,436,0.00,436.50,0.0,0.0
1821,2161,9,34,Activity,522,20,0.25,0,0.00,0.25,...,0.0,4.0,873.0,873.0,218.25,218,0.00,218.25,0.0,0.0
1822,2162,9,34,Activity,524,20,3.00,2,1.00,3.00,...,0.0,4.0,873.0,873.0,2619.00,1746,873.00,2619.00,0.0,0.0
1823,2163,9,34,Activity,526,20,1.25,1,0.00,1.25,...,0.0,4.0,873.0,873.0,1091.25,1091,0.00,1091.25,0.0,0.0
1824,2164,9,34,Activity,528,20,1.25,1,0.25,1.25,...,0.0,4.0,873.0,873.0,1091.25,873,218.25,1091.25,0.0,0.0
1825,2165,9,34,Activity,529,20,2.00,1,1.00,2.00,...,0.0,4.0,873.0,873.0,1746.00,873,873.00,1746.00,0.0,0.0
1827,2167,9,34,Activity,553,20,2.00,1,1.00,2.00,...,0.0,4.0,873.0,873.0,1746.00,873,873.00,1746.00,0.0,0.0
7158,7562,9,17,Activity,486,100,0.00,0,0.00,0.75,...,0.0,4.0,873.0,873.0,0.00,654,0.00,654.75,0.0,0.0
7165,7569,9,34,Activity,489,100,0.00,1,0.00,1.50,...,0.0,4.0,873.0,873.0,0.00,1309,0.00,1309.50,0.0,0.0
7198,7603,9,34,Activity,597,100,0.00,0,0.00,0.25,...,0.0,4.0,873.0,873.0,0.00,218,0.00,218.25,0.0,0.0

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1408 to 7198
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                30 non-null     int64
 1   idResource        30 non-null     int64
 2   idProject         30 non-null     int64
 3   refType           30 non-null     object
 4   refId             30 non-null     int64
 5   rate              30 non-null     int64
 6   assignedWork      30 non-null     float64
 7   realWork          30 non-null     int32
 8   leftWork          30 non-null     float64
 9   plannedWork       30 non-null     float64
 10  idle              30 non-null     int64
 11  realStartDate     30 non-null     object
 12  realEndDate       30 non-null     object
 13  comment           30 non-null     float64
 14  plannedStartDate  30 non-null     float64
 15  plannedEndDate    30 non-null     float64
 16  idRole            30 non-null     float64
 17  dailyCost         30 non-null     float64
 18  newDailyCost      30 non-null     float64
 19  assignedCost      30 non-null     float64
 20  realCost          30 non-null     int32
 21  leftCost          30 non-null     float64
 22  plannedCost       30 non-null     float64
 23  billedWork        30 non-null     float64
 24  notPlannedWork    30 non-null     float64
dtypes: float64(14), int32(2), int64(6), object(3)
memory usage: 5.9+ KB

In [21]:
dataset.describe()

,id,idResource,idProject,refId,rate,assignedWork,realWork,leftWork,plannedWork,idle,...,plannedEndDate,idRole,dailyCost,newDailyCost,assignedCost,realCost,leftCost,plannedCost,billedWork,notPlannedWork
count,30.000000,30.000000,30.000000,30.0000,30.000000,30.000000,30.000000,30.000000,30.0000,30.0,...,30.0,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.0,30.0
mean,2670.433333,9.100000,32.766667,509.7000,30.666667,4.308333,1.600000,2.766667,4.6250,0.0,...,0.0,4.133333,843.900000,843.900000,3761.175000,1178.300000,458.325000,1636.875000,0.0,0.0
std,1666.501305,0.547723,4.710102,26.8664,27.659672,15.055742,3.265282,12.217309,15.0182,0.0,...,0.0,0.730297,159.387264,159.387264,13143.662535,1777.352994,848.865866,2224.799362,0.0,0.0
min,1735.000000,9.000000,14.000000,426.0000,20.000000,0.000000,0.000000,0.000000,0.2500,0.0,...,0.0,4.000000,0.000000,0.000000,0.000000,218.000000,0.000000,218.250000,0.0,0.0
25%,2145.250000,9.000000,34.000000,496.5000,20.000000,0.500000,0.000000,0.000000,0.5000,0.0,...,0.0,4.000000,873.000000,873.000000,436.500000,436.000000,0.000000,436.500000,0.0,0.0
50%,2152.500000,9.000000,34.000000,510.0000,20.000000,1.000000,1.000000,0.125000,1.1250,0.0,...,0.0,4.000000,873.000000,873.000000,873.000000,873.000000,0.000000,873.000000,0.0,0.0
75%,2161.750000,9.000000,34.000000,520.5000,20.000000,2.000000,1.000000,0.875000,2.0000,0.0,...,0.0,4.000000,873.000000,873.000000,1746.000000,1091.000000,436.500000,1746.000000,0.0,0.0
max,7603.000000,12.000000,34.000000,597.0000,100.000000,83.000000,15.000000,67.250000,83.0000,0.0,...,0.0,8.000000,873.000000,873.000000,72459.000000,9821.000000,3492.000000,11349.000000,0.0,0.0

In [22]:
dataset.columns

Index(['id', 'idResource', 'idProject', 'refType', 'refId', 'rate',
       'assignedWork', 'realWork', 'leftWork', 'plannedWork', 'idle',
       'realStartDate', 'realEndDate', 'comment', 'plannedStartDate',
       'plannedEndDate', 'idRole', 'dailyCost', 'newDailyCost', 'assignedCost',
       'realCost', 'leftCost', 'plannedCost', 'billedWork', 'notPlannedWork'],
      dtype='object')

In [23]:
X = dataset[[ 'idResource', 'idProject',
       'assignedWork', 'leftWork',
         'comment','realWork',
        'idRole', 'dailyCost']]
y = dataset['realCost']

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [38]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif      
from sklearn.feature_selection import f_regression  
#Score function:
#For regression: f_regression, mutual_info_regression
#For classification: chi2, f_classif, mutual_info_classif

kbest = SelectKBest(score_func=f_regression, k=5)
kbest.fit(X_train, y_train)
print("Sélection de variables :", kbest.get_support())
print("Scores de variables :", kbest.scores_)
print("Variables sélectionnées:", list(X.columns[kbest.get_support()]))
print("Variables supprimées :", list(X.columns[~kbest.get_support()]))

Sélection de variables : [ True  True False False False  True  True  True]
Scores de variables : [0.12735344 0.27999815 0.12399752 0.04764848        nan 9.81979645
 0.12735344 0.22126291]
Variables sélectionnées: ['idResource', 'idProject', 'realWork', 'idRole', 'dailyCost']
Variables supprimées : ['assignedWork', 'leftWork', 'comment']

C:\Users\saifn\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:302: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms

In [39]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, median_absolute_error, r2_score

X_train = kbest.transform(X_train)
X_test = kbest.transform(X_test)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(y_pred)

print('test_score = ',model.score(X_test,y_test)) 
print('R2 = ',r2_score(y_test, y_pred))
print('MAE = ',mean_squared_error(y_test, y_pred))
print('RMSE = ', np.sqrt(mean_squared_error(y_test, y_pred)))
print('MAE = ', mean_absolute_error(y_test, y_pred))
print('Meadian = ', median_absolute_error(y_test, y_pred))

[1061.84777124  199.29857023 2786.94617325 1924.39697225  199.29857023
 1924.39697225]
test_score =  0.9604029279356946
R2 =  0.9604029279356946
MAE =  30602.979916595086
RMSE =  174.9370741626688
MAE =  151.56714325764733
Meadian =  178.39697224555857

pre = model.score(X_test, y_test)
pre

In [12]:
import pickle
with open('bike_model_xgboost.pkl', 'wb') as file:
    pickle.dump(model, file)

In [ ]:
import flask

import pickle

# Use pickle to load in the pre-trained model.

with open(f'model/bike_model_xgboost.pkl', 'rb') as f:

    model = pickle.load(f)

app = flask.Flask(__name__, template_folder='templates')

@app.route('/bb', methods=['GET', 'POST'])

def main():

    if flask.request.method == 'GET':

        return(flask.render_template('main.html'))

    if flask.request.method == 'POST': 

        idResource = flask.request.form['idResource']

        idProject = flask.request.form['idProject']

        realWork = flask.request.form['realWork']
        
        idRole = flask.request.form['idRole']

        dailyCost = flask.request.form['dailyCost']

        input_variables = pd.DataFrame([[idResource, idProject, realWork,idRole,dailyCost]],

                                       columns=['idResource', 'idProject', 'realWork', 'idRole', 'dailyCost'],

                                       dtype=float)

        prediction = model.predict(input_variables)[0]

        return flask.render_template('main.html',

                                     original_input={'idResource':idResource,

                                                     'idProject':idProject,

                                                     'realWork':realWork,

                                                     'idRole':idRole,

                                                     'dailyCost':dailyCost},

                                     result=prediction,)

if __name__ == '__main__':

    from werkzeug.serving import run_simple
    run_simple('localhost', 9000, app)

 * Running on http://localhost:9000/ (Press CTRL+C to quit)
127.0.0.1 - - [15/May/2021 00:07:10] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [15/May/2021 00:07:13] "GET /bb HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2021 00:07:13] "GET /aa HTTP/1.1" 404 -
127.0.0.1 - - [15/May/2021 00:07:44] "GET /bb HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2021 00:08:38] "GET /bb HTTP/1.1" 200 -